*{
    margin: 0px;
}
header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo > img{
    height: 70px;
    width: 250px;
    margin-top: 8px;
}

.search > input{
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 6px;
    border-color: beige;
    padding-left: 40px;
    position: relative;
    right: 120px;
}

.search > img{
    height: 25px;
    position: relative;
    right: 515px;
    top: 8px;
    z-index: 1;
}

.profile > select{
    border: none;
    height: 25px;
    width: 120px;
}

.profile > button{
    margin-left: 1px;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 110px;
    background-color: rgba(220, 220, 220, 0.623);
}

nav a{
    text-decoration: none;
    padding: 1px 5px;
    color: black;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
    background-color: rgba(220, 220, 220, 0.338);
}
.heading a{
    text-decoration: none;
    color: red;
}